.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid saddlebrown;
}

.logo {
    width: 250px;
    img {
        width: inherit;
    }
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 30px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    text-decoration: none;
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.search {
    padding: 20px 0px 20px 0px;
}

.res-containers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.filter {
    margin: 20px;
}